:root {
  --main-blue: #0c2d57;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100%;
  background-color: whitesmoke;
  font-family: poppins, arial;
}
/* navbar */
nav {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: var(--main-blue);
  position: sticky;
  z-index: 9999;
  top: -4px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  padding-top: 20px;
}

.nav-item a {
  color: aliceblue;
}
.nav-item a:hover {
  color: orangered;
  cursor: cell;
}

/* navbar end */

/* container hero start */
.main-tittle {
  position: absolute;
  font-weight: 800;
  top: 42%;
  left: 30%;
  transform: translate(-50%, -50%);
  transform: translateX(-70%);
  opacity: 0;
  animation: slide-in 2s ease-out forwards;
}
@keyframes slide-in {
  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.main-tittle h1 {
  font-size: 100px;
  color: aliceblue;
}
.main-tittle p {
  font-size: 60px;
  color: aliceblue;
  font-weight: 700;
}

/* container promo start*/
.container-promo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 40px;
  color: black;
}

.promo1 {
  background-color: #df9d19;
  width: 100%;
}
.promo2 {
  width: 100%;
  background-color: #0c2d57;
  color: white;
}

.promo3 {
  background-color: #df272e;
}
/* container promo end */

/* gallery */
.gallery-tittle h2 {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 900;
  text-shadow: 1px 1px 5px rgb(203, 37, 37);
}
.grid-container {
  width: 80%;
  margin-inline: auto;
  padding-inline: 2rem;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 20px;
}
.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  transition: all linear 0.3s;
  cursor: pointer;
}
img.hover-img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.card:hover img {
  opacity: -5;
}
.card:hover img.hover-img {
  opacity: 1;
}

.img1 {
  grid-row: span 2;
}
.img2 {
  grid-column: span 2;
}

.img4 {
  grid-column: span 2;
}

/* footer */
footer {
  margin-top: 50px;
  width: 100%;
  background-color: var(--main-blue);
  color: white;
}
.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px;
  line-height: 3;
}
.company h3 {
  font-size: 50px;
}
.company span {
  color: red;
}
.sosmed i {
  font-size: 20px;
  padding-right: 30px;
  color: #df272e;
}
.quicklink a {
  color: white;
}
.quicklink a:hover {
  color: #df272e;
  cursor: cell;
}
.information span {
  padding: 10px;
}
.information i {
  color: red;
}
h6 {
  text-align: center;
}
